<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
        {% endblock %}
    {% if maxPages > 1 %}
         <ul class="laPage pagination pagination-sm">
        {# `«` arrow  #}
            {% if thisPage >= 4 %}
            <li>
                <a href="{{ path('app_series_index', {page: 1}) }}"><<</a>
            </li>
            {% endif %}
            {% if thisPage > 1 %}
            <li>
                <a href="{{ path('app_series_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><</a>
            </li>
            {% endif %}
            {# Render each page number #}
            {% if thisPage == 1 %}
                {% for i in thisPage .. thisPage + 4 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% elseif thisPage == 2 %}
                {% for i in thisPage - 1 .. thisPage + 3 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% elseif thisPage == maxPages %}
                {% for i in thisPage - 4 .. thisPage %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% elseif thisPage == maxPages - 1 %}
                {% for i in thisPage - 3 .. thisPage + 1 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for i in thisPage - 2 .. thisPage + 2%}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if thisPage < maxPages %}
                <li>
                    <a href="{{ path('app_series_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">></a>
                </li>
            {% endif %}
            {# `»` arrow #}
            {% if thisPage <= 19 %}
                <li>
                    <a href="{{ path('app_series_index', {page: maxPages}) }}">>></a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
</html>

