{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>RegisterDate</th>
                <td>{{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% if rates != null %}
     <h1>All rates</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Serie</th>
                    <th>Note</th>
                    <th>Commentaire</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                    {% for rate in rates %}
                    <tr>
                        <td>{{ rate.series }}</td>
                        <td>{{ rate.value|number_format(1)}}</td>
                        <td>{{ rate.comment }}</td>
                        <td>{{ rate.date ? rate.date|date('Y-m-d H:i:s') : '' }}</td>            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    <a href="{{ path('app_admin') }}">back to list</a>
{% endblock %}
