{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ asset('/css/allSeries.css') }}" type="text/css" rel="stylesheet">  
	<link rel="shortcut icon" href="img/logo.png" >
	<link href='https://css.gg/css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ parent() }}
        <div id="series" class="work_container container grid "> 
        {% for serie in series %}
            <div class=" d-flex flex-column">
                <td> 
                    <div class="series__filter AllPoster"> 
                        <a href="{{ path('app_series_show', {'id': serie.id}) }}">
                            <img src="{{ path('app_poster',{'id':serie.id }) }}">
                        </a>
                        
                    </div>
                    <div class="allGenre btn-group d-flex flex-row justify-content-evenly flex-wrap ">
                            {% for genre in serie.genre %}
                                {% if loop.index <= 4 %}
                                    <p class="btn btn-outline-light btn-sm theGenre disabled">{{ genre}}</p>    
                                {% endif %}
                                
                            {% endfor %}
                    </div>
                </td>
            </div>
        {% endfor %}
        </div>
        {% if maxPages > 1 %}
         <ul class="pagination pagination-sm">
        {# `«` arrow  #}
            {% if thisPage >= 4 %}
            <li>
                <a href="{{ path('app_series_index', {page: 1}) }}"><< &nbsp</a>
            </li>
            {% endif %}
            {% if thisPage > 1 %}
            <li>
                <a href="{{ path('app_series_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">< &nbsp</a>
            </li>
            {% endif %}
            {# Render each page number #}
            {% if thisPage == 1 %}
                {% for i in thisPage .. thisPage + 4 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }} &nbsp</a>
                    </li>
                {% endfor %}
            {% elseif thisPage == 2 %}
                {% for i in thisPage - 1 .. thisPage + 3 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }} &nbsp</a>
                    </li>
                {% endfor %}
            {% elseif thisPage == maxPages %}
                {% for i in thisPage - 4 .. thisPage %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }} &nbsp</a>
                    </li>
                {% endfor %}
            {% elseif thisPage == maxPages - 1 %}
                {% for i in thisPage - 3 .. thisPage + 1 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }} &nbsp</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for i in thisPage - 2 .. thisPage + 2%}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_series_index', {page: i}) }}">{{ i }} &nbsp</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if thisPage < maxPages %}
                <li>
                    <a href="{{ path('app_series_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">> &nbsp</a>
                </li>
            {% endif %}
            {# `»` arrow #}
            {% if thisPage <= 19 %}
                <li>
                    <a href="{{ path('app_series_index', {page: maxPages}) }}">>></a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
        </div>
{% endblock %}
