{% extends 'base.html.twig' %}

{% block title %}{{ series.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ asset('/css/show.css') }}" type="text/css" rel="stylesheet">  

{% endblock %}
{% block body %}
    {{ parent()  }}
   <main class="d-flex flex-wrap" >
        <div class="info d-flex m-5 flex-column align-items-center" >
            <div class="LineOne d-flex flex-wrap m-5 align-items-center ">
                <div class="firstPart m-5">
                        <img src="{{ path('app_poster',{'id':series.id}) }}">
                </div>
                <div class="d-flex flex-column secondPart">
                        <div class="title d-flex justify-content-center">
                            <h1 class="titleTxt ">
                                {{ series.title }}
                            </h1>
                        </div>
                    <div class="m-2 d-flex  flex-column">
                        <h3 class="border-0">Description </h3>
                        <p  class="border-0">{{ series.plot }}</p>
                       
                        {% if series.imdb %}
                         <h3 class="border-0"> Rating </h3>
                            <a href="https://www.imdb.com/title/{{ series.imdb }}" target="_blank"><h4 > Note IMDB </h4></a>
                            {% if reesRate != null and allRates != null %}
                                {% for rRate in reesRate %}
                                    <p><b> Note Rees : {{ rRate.rate / 10 }}</b></p>
                                {% endfor %}
                            {% else %}
                                <p><b> Note Rees : Non noté</b></p>
                            {% endif %}
                        {% endif %}
                        
                        {% if series.director %}
                            <h3 class="border-0">Director</h3>
                            <p class="border-0">{{ series.director }}</p>
                        {% endif %}                        
                    </div>
                </div>
            </div>
            <div class="LineOne d-flex flex-wrap">
                <div class="ThreePart m-5">
                    {% if series.awards %}
                            <h3 class="border-0">Awards</h3>
                            <p class="border-0">{{ series.awards }}</p>
                    {% endif %}
                    {% if series.yearStart %}
                            <h3 class="border-0">Year Start</h3>
                            <p class="border-0">{{ series.yearStart }}</p>
                    {% endif %}
                    {% if series.yearEnd %}
                            <h3 class="border-0">Year End</h3>
                            <p class="border-0">{{ series.yearEnd }}</p>
                    {% endif %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a type="button" class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_login') }}">Connecte toi pour suivre</a> <br>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if series.isLikedByUser(app.user) %}
                            <div >
                                <a type="button" class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_like_remove', {'id': series.id}) }}">Ne plus suivre</a> <br>
                            </div>
                        {% else %}
                        <div >
                            <button type="button" class="btn btn-outline-light">Light</button>
                            <a type="button" class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_like_add', {'id': series.id}) }}">Suivre</a> <br>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="lastPart m-5">
                    <h3> Episodes </h3>
                    <div class="accordion w-70 d-flex flex-column" id="accordionExample">
                        {% for season in seasons %}
                            <button class="click btn " 
                             type="button"  data-mdb-toggle="collapse"  data-mdb-target="#collapseWidthExample"  aria-expanded="false" data-toggle="collapse" 
                             data-target="#multiCollapse{{season.number}}" aria-expanded="false" aria-controls="multiCollapse{{season.number}}">
                                Saison {{season.number}} 
                            </button>
                            <div class="col"> 
                                        <div class="collapse multi-collapse  w-70 bg-transparent border-0" id="multiCollapse{{season.number}}">       
                                            <div class="rounder card card-body bg-transparent border-0">
                                                {% for episode in episodes %}
                                                    {% if episode.season.id == season.id %}
                                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                            <div class="clickInfo bg-white m-1 d-flex flex-column justify-content-center">
                                                                <h5 class="text-dark"> Episode {{episode.number}} // Titre : {{episode.title}} </h5>
                                                                    {% if episode.isWatchByUser(app.user) %}
                                                                        <div>
                                                                            <a type="button" class="btn bg-dark btn-lg px-4" href="{{ path('app_watch_remove', { 'idEpisode' : episode.id }) }}"> <b> Je n'ai pas vu!  </b> </a> <br>
                                                                        </div>
                                                                    {% else %}
                                                                        <div>
                                                                            <a type="button" class="btn bg-dark btn-lg px-4" href="{{ path('app_watch_add', { 'idEpisode' : episode.id}) }}"> <b> J'ai vu! </b> </a> <br>
                                                                            </div>
                                                                    {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
            'thisRate' => $rate
                                        </div>
                                    </div>
                        {% endfor %}
                    </div>
                    {% if series.youtubeTrailer %}
                        <iframe width="800" height="500" src={{ series.youtubeTrailer }} ></iframe>
                    {% endif %}
                </div>
             </div>
            {% if myRate != null and is_granted('IS_AUTHENTICATED_FULLY')%}
                <table class="table">
                    <h2>Ma note</h2>
                    <thead>
                        <tr>
                            <th>Note</th>
                            <th>commentaire</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ myRate.value / 10 |number_format(1) }}</td>
                            <td>{{ myRate.comment }}</td>
                            <td>{{ myRate.date ? myRate.date|date('Y-m-d H:i:s') : '' }}</td>
                            <td><a href="{{ path('app_rating_edit', {'id': myRate.id}) }}"> <b> éditer </b> </a> </td>
                        </tr>
                    </tbody>
                </table>
            {% elseif  is_granted('IS_AUTHENTICATED_FULLY') %}
                <h2>Ma note</h2><br>
                <a href="{{ path('app_rating_new',{'id': series.id}) }}"> <b> Noter </b> </a> <br>
            {% endif %}
            {% if allRates != null %}
                <h2>Toutes les notes</h2>
               <table class="table">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Note</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rate in allRates %}
                        <tr>
                            <td><a href="{{ path('app_user_show',{'id': rate.user.id}) }}"> <b>{{ rate.user }}</b></a></td>
                            <td>{{ rate.value / 10 |number_format(1) }}</td>
                            <td>{{ rate.comment }}</td>
                            <td>{{ rate.date ? rate.date|date('Y-m-d H:i:s') : '' }}</td>   
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
        </div>
    </main>
    <footer>
    <div class="action" >
        <a href="{{ path('app_series_index') }}"> <b> Back to list </b> </a> <br>
    </div>
    </footer>
    </body>
{% endblock %}
