{% extends 'base.html.twig' %}

{% block title %}
	{{ series.title }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<script>
		href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
	</script>
	<script>
		href = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="{{ asset('/css/show.css') }}" type="text/css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/2b4594a491.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
	{{ parent() }}
	<main class="d-flex flex-wrap">
		<div class="info d-flex m-5 flex-column align-items-center">
			<div class="LineOne d-flex flex-wrap m-5 align-items-center ">
				<div class="firstPart m-5">
					<img src="{{ path('app_poster',{'id':series.id}) }}">
				</div>
				<div class="d-flex flex-column secondPart">
					<div class="title d-flex justify-content-center">
						<h1 class="titleTxt ">
							{{ series.title }}
						</h1>
					</div>
					<div class="m-2 d-flex flex-column">
						<h3 class="border-0">Description
						</h3>
						<p class="border-0">{{ series.plot }}</p>
						{% if series.imdb %}
							<h3 class="border-0">
								Rating
							</h3>
							<a href="https://www.imdb.com/title/{{ series.imdb }}" target="_blank">
								<h4>
									Lien IMDB
								</h4>
							</a>
							{% if reesRate|length > 0 and allRates|length > 0 %}
								{% for rRate in reesRate %}
									<p>
										<b>
											Note Rees :
											{{ rRate.rate|number_format(1) }}</b>
									</p>
								{% endfor %}
							{% else %}
								<p>
									<b>
										Note Rees : Non noté</b>
								</p>
							{% endif %}
						{% endif %}
						{% if series.director %}
							<h3 class="border-0">Director</h3>
							<p class="border-0">{{ series.director }}</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="LineOne d-flex flex-wrap">
				<div class="ThreePart m-5">
					{% if series.awards %}
						<h3 class="border-0">Awards</h3>
						<p class="border-0">{{ series.awards }}</p>
					{% endif %}
					{% if series.yearStart %}
						<h3 class="border-0">Year Start</h3>
						<p class="border-0">{{ series.yearStart }}</p>
					{% endif %}
					{% if series.yearEnd %}
						<h3 class="border-0">Year End</h3>
						<p class="border-0">{{ series.yearEnd }}</p>
					{% endif %}
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<a type="button" class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_login') }}">Connecte toi pour suivre</a>
						<br>
					{% endif %}
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{% if series.isLikedByUser(app.user) %}
							<div>
								<a type="button" class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_like_remove', {'id': series.id}) }}">Ne plus suivre</a>
								<br>
							</div>
						{% else %}
							<div>
								<a type="button" class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_like_add', {'id': series.id}) }} ">Suivre</a>
								<br>
							</div>
						{% endif %}
					{% endif %}
				</div>
				<div class="lastPart m-5">
					<h3>
						Episodes
					</h3>
					<div class="accordion w-70 d-flex flex-column" id="accordionExample">
						{% for season in seasons %}
							{% set watchEpisode = true %}
							<div class="ouais d-flex flex-column justify-content-center m-1 mr-3 w-100 h-100">
								{% set seasonEpisodes = episodes|filter(e => e.season.id == season.id) %}
								{% if app.user %}
									{% set watchedEpisodes = seasonEpisodes|filter(e => e.isWatchByUser(app.user)) %}
									{% if watchedEpisodes|length == seasonEpisodes|length %}
										<a href="{{ path('app_WatchSeason_remove', {'idSeason': season.id}) }}">
											<label>
												Saison
												{{season.number}}
												vue ?
											</label>
											<i class="fa-solid fa-check"></i>
										</a>
									{% else %}
										<a href="{{ path('app_watchSeason_add', {'idSeason': season.id}) }}">
											<label>
												Saison
												{{season.number}}
												vue ?
											</label>
											<i class="fa-solid fa-xmark"></i>
										</a>
									{% endif %}
								{% endif %}
							</div>
							<button class="click btn " type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseWidthExample" aria-expanded="false" data-toggle="collapse" data-target="#multiCollapse{{season.number}}" aria-expanded="false" aria-controls="multiCollapse{{season.number}}">
								Saison
								{{season.number}}
							</button>
							<div class="col">
								<div class="collapse multi-collapse w-70 bg-transparent border-0" id="multiCollapse{{season.number}}">
									<div class="rounder card card-body bg-transparent border-0">
										{% for episode in episodes %}
											{% if episode.season.id == season.id %}
												<div class="episode-info bg-white m-1 p-3">
													<h4 class="text-dark font-weight-bold">
														Episode
														{{episode.number}}
														// Titre :
														{{episode.title}}
													</h4>
													{% if is_granted('IS_AUTHENTICATED_FULLY') %}
														{% if app.user %}
															<div class="d-flex justify-content-between align-items-center">
																{% if episode.isWatchByUser(app.user) %}
																	<a href="{{ path('app_watch_remove', { 'idEpisode' : episode.id }) }}" class="btn btn-success">
																		<i class="eye fa-solid fa-eye text-light">
																			Watched
																		</i>
																	</a>
																	{% if watchEpisode == false %}
																		{% set watchEpisode = true %}
																		<div class="previous-episodes-question">
																			<p class="text-dark">Voulez-vous marquer les épisodes précédents comme vu ?</p>
																			<a href="{{ path('app_watch_previous_episodes', { 'numberPrevious': episode.number, 'season' : season.id}) }}" class="btn btn-primary">Yes</a>
																			<button class="btn btn-light" onclick="$(this).parent().hide()">No</button>
																		</div>
																	{% endif %}
																{% else %}
																	{% set watchEpisode = false %}
																	<a href="{{ path('app_watch_add', { 'idEpisode' : episode.id}) }} " class="btn btn-danger">
																		<i class="eye fa-solid fa-eye-slash text-light ">
																			Not Watched
																		</i>
																	</a>
																{% endif %}
															</div>
														{% endif %}
													{% endif %}
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						{% endfor %}
						{% if series.youtubeTrailer %}
							<iframe width="800" height="500" src={{ series.youtubeTrailer }}></iframe>
						{% endif %}
					</div>
					<div class="lastPart m-5">
						{% if myRate != null and is_granted('IS_AUTHENTICATED_FULLY')%}
							<h2>
								Ma note
							</h2>
							<div class="rate bg-transparent card p-3 mt-2">
								<div class="d-flex justify-content-between align-items-center">
									<div class="user d-flex flex-row align-items-center">
										<img src="" width="30" class="user-img rounded-circle mr-2">
										<span>
											<h5 class="font-weight-bold text-primary">{{myRate.user.name}}</h5><br>
											<small class="mt-5 font-weight-bold ">{{myRate.comment}}</small>
										</span>
									</div>
									{% set difference = date(myRate.date).diff(date("now"|date("m/d/Y"))) %}
									{% set leftDays = difference.days %}
									{% if leftDays == 0 %}
										<small>
											{{ difference.i }}
											minutes
										</small>
									{% elseif leftDays > 31 %}
										<small>
											{{ difference.m }}
											mois
										</small>
									{% elseif leftDays > 365 %}
										<small>
											{{ difference.y }}
											ans
										</small>
									{% else %}
										<small>
											{{ leftDays }}
											jours
										</small>
									{% endif %}
								</div>
								<div class="action d-flex justify-content-between mt-2 align-items-center">
									<div class="reply px-4">
										{% if app.user %}
											{% if app.user.admin == 1 %}
												<small class="">Remove</small>
											{% endif %}
										{% endif %}
									</div>
									<div class="icons align-items-center">
										<p>
											{{ myRate.value|number_format(1) }}</p>
										<i class="fa fa-check-circle-o check-icon"></i>
									</div>
								</div>
							</div>
						{% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
							<h2>Ma note</h2><br>
							<a class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_rating_new',{'id': series.id}) }}" role='button'>
								Noter</a>
						{% endif %}
						{% if allRates != null %}
							<h2 class="">
								Les notes
							</h2>
							<form class="searchBar text-white d-flex flex-row align-items-center " method="get" action="{{ path('app_series_show_search',{'id':series.id} ) }}">
								<div class="d-flex flex-column align-items-center">
									<label class="m-2">Mots-clés commentaires :
									</label>
									<input class="form-control w-auto m-2" type="text" name="comment" placeholder="Mots-clés">
								</div>
								<div class="d-flex flex-column align-items-end mt-4">
									<button type="submit" class="btn btn-primary mt-3 ">Recherche</button>
								</div>
							</form>
							<div class="container mt-5">
								<div class="col-md-8">
									{% for rate in allRates %}
										<div class="rate bg-transparent card p-3 mt-2">
											<div class="d-flex justify-content-between align-items-center">
												<div class="user d-flex flex-row align-items-center">
													<img src="" width="30" class="user-img rounded-circle mr-2">
													<span>
														<h5 class="font-weight-bold text-primary">{{rate.user.name}}</h5><br>
														<small class="font-weight-bold ">{{rate.comment}}</small>
													</span>
												</div>
												{% set difference = date(rate.date).diff(date("now"|date("m/d/Y"))) %}
												{% set leftDays = difference.days %}
												{% if leftDays == 0 %}
													<small>
														{{ difference.i }}
														minutes
													</small>
												{% elseif leftDays > 31 %}
													<small>
														{{ difference.m }}
														mois
													</small>
												{% elseif leftDays > 365 %}
													<small>
														{{ difference.y }}
														ans
													</small>
												{% else %}
													<small>
														{{ leftDays }}
														jours
													</small>
												{% endif %}
											</div>
											<div class="action d-flex justify-content-between mt-2 align-items-center">
												<div class="reply px-4">
													{% if app.user %}
														{% if app.user.admin == 1 %}
															<small class="">Remove</small>
														{% endif %}
													{% endif %}
												</div>
												<div class="icons align-items-center">
													<p>
														{{ rate.value|number_format(1) }}</p>
													<i class="fa fa-check-circle-o check-icon"></i>
												</div>
											</div>
										</div>
									{% endfor %}
								</tbody>
							</table>
							{{ knp_pagination_render(allRates) }}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="action">
			<a class="btn btn-outline-light btn-lg px-4 followButton" href="{{ path('app_series_index') }}" role='button'>
				Back to list</a>
		</div>
	</footer>

</body>{% endblock %}
