{% extends 'base.html.twig' %}

{% block title %}{{ series.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ asset('/css/show.css') }}" type="text/css" rel="stylesheet">  
{% endblock %}

{% block body %}
    {{ parent()  }}
    
   <main class="d-flex flex-wrap" >
        <div class="info d-flex m-5 flex-column align-items-center" >
            <div class="LineOne d-flex flex-wrap m-5 align-items-center ">
                <div class="firstPart m-5">
                        <img src="{{ path('app_poster',{'id':series.id}) }}">
                </div>
                <div class="d-flex flex-column secondPart">
                        <div class="title d-flex justify-content-center">
                            <h1 class="titleTxt ">
                                {{ series.title }}
                            </h1>
                        </div>
                    <div class="m-2 d-flex  flex-column">
                            <h3 class="border-0">Description </h3>
                            <p  class="border-0">{{ series.plot }}</p>
                        {% if series.director %}
                            <h3 class="border-0">Director</h3>
                            <p class="border-0">{{ series.director }}</p>
                        {% endif %}                        
                    </div>
                </div>
            </div>
            <div class="LineOne d-flex flex-wrap">
                <div class="ThreePart m-5">
                    {% if series.awards %}
                            <h3 class="border-0">Awards</h3>
                            <p class="border-0">{{ series.awards }}</p>
                    {% endif %}
                    {% if series.yearStart %}
                            <h3 class="border-0">Year Start</h3>
                            <p class="border-0">{{ series.yearStart }}</p>
                    {% endif %}
                    {% if series.yearEnd %}
                            <h3 class="border-0">Year End</h3>
                            <p class="border-0">{{ series.yearEnd }}</p>
                    {% endif %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a type="button" class="btn btn-outline-light btn-lg px-4" href="{{ path('app_login') }}"> <b> Connecte toi pour suivre </b> </a> <br>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if series.isLikedByUser(app.user) %}
                            <div >
                                <a type="button" class="btn btn-outline-light btn-lg px-4" href="{{ path('app_like_remove', {'id': series.id}) }}"> <b> Ne plus suivre </b> </a> <br>
                            </div>
                        {% else %}
                        <div >
                            <a type="button" class="btn btn-outline-light btn-lg px-4" href="{{ path('app_like_add', {'id': series.id}) }}"> <b> Suivre </b> </a> <br>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                 <div class="lastPart m-5">
                 <h3> Episodes </h3>
               {% for episode in episodes %}
                    <p class=""> Saison {{ episode.numberSeason }}: {{ episode.nbEpisode }}  épisodes </p>   
                {% endfor %}
            </div>
            {% if series.youtubeTrailer %}
                <iframe width="800" height="500" src={{ series.youtubeTrailer }} ></iframe>
            {% endif %}
             </div>
            {% if rates != null %}
               <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Value</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rate in rates %}
                        <tr>
                            <td>{{ rate.user }}</td>
                            <td>{{ rate.value }}</td>
                            <td>{{ rate.comment }}</td>
                            <td>{{ rate.date ? rate.date|date('Y-m-d H:i:s') : '' }}</td>
                            {% if app.user == rate.user  %}
                                 <td><a href="{{ path('app_rating_edit', {'id': rate.id}) }}"> <b> edit </b> </a> </td>
                            {% endif %}            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
        </div>
    </main>
    <footer>
    <div class="action" >
    {% if is_granted('IS_AUTHENTICATED_FULLY') and not isRate %}
        <a href="{{ path('app_rating_new',{'id': series.id}) }}"> <b> Add rate </b> </a> <br>
    {% endif %}
    <a href="{{ path('app_series_index') }}"> <b> Back to list </b> </a> <br>
    </div>
    </footer>
    </body>
{% endblock %}
